<!DOCTYPE html>
<html lang="en">
<head>
    <title>reservation success</title>
</head>
<br>
<li><a href="/">
    <font size="4" color="white">return to home</font></a></li>
<style>
    body {
        background-image: url("https://raw.githubusercontent.com/YisongZou/ECE590-HumanCenteredComputing/yue/background.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5" color="white">You have successfully made a reservation !!<br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please add the event into your calendar ^_^</font>
</body>
</html>