<!DOCTYPE html>
<html>
<head>
<title></title>

<style>
body {
	background-image: url("https://raw.githubusercontent.com/YisongZou/ECE590-HumanCenteredComputing/main/WechatIMG2337.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 
</style>

<style  type ="text/css" >
body { 
    font-family: Tahoma; 
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    }
.leftmenu {
width:250px;
}
.leftmenu li {
display: inline;
white-space: nowrap;
}

.leftmenu span,
.leftmenu a:active,
.leftmenu a:visited,
.leftmenu a:link {
  display: block;
  text-decoration: none;
  margin: 6px 10px 6px 0px;
  padding: 2px 6px 2px 6px;
  color: #00527f;
  background-color: orange;
  border: 1px solid orange;
}

.leftmenu a:hover {
  color: red;
  background-color: orange;
}

.leftmenu span {
  color: orange;
  }

 </style >

</head>

<body>
<ul  class ="leftmenu" >
    <li><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><a href="/app/request_ride">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;chat with him! </a></li>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <li><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><a href="/app/request_ride"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;chat with him! </a></li>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <li><a href="/app/request_ride"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;chat with him! </a></li>
    <ul>
</body>
</html>

